In [56]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import countDistinct
from pyspark.ml.feature import StopWordsRemover, Tokenizer
from pyspark.ml.feature import CountVectorizer, IDF
from pyspark.ml.feature import Normalizer
from pyspark.ml import Pipeline

spark = SparkSession.builder \
.appName('code_6_of_10_data_mine_giuseppe_schintu') \
.master('local[*]') \
.config('spark.sql.execution.arrow.pyspark.enabled', True) \
.config('spark.sql.session.timeZone', 'UTC') \
.config('spark.driver.memory','8G') \
.config('spark.ui.showConsoleProgress', True) \
.config('spark.sql.repl.eagerEval.enabled', True) \
.getOrCreate()

#may use in other places
rnd_seed = 42

#=>DataFrame from .csv
train_df = spark.read.csv("train.csv", header=True, inferSchema=True, escape='"', sep=",")

train_df.cache()

train_df.show(10, truncate=50)

train_df.select('author').distinct().show()


# Step 1: Tokenization
tokenizer = Tokenizer(inputCol="text", outputCol="tokens")
# Step 2: Stop word removal
stopwords_remover = StopWordsRemover(inputCol="tokens", outputCol="filtered_tokens")
'''
Step.1 replace "text" in Tokenizer(inputCol="text", outputCol="tokens")
with the actual column name from your CSV file that contains the text data.
'''

23/07/13 11:56:25 WARN CacheManager: Asked to cache already cached data.

+-------+--------------------------------------------------+------+
|     id|                                              text|author|
+-------+--------------------------------------------------+------+
|id26305|This process, however, afforded me no means of ...|   EAP|
|id17569|It never once occurred to me that the fumbling ...|   HPL|
|id11008|In his left hand was a gold snuff box, from whi...|   EAP|
|id27763|How lovely is spring As we looked from Windsor ...|   MWS|
|id12958|Finding nothing else, not even gold, the Superi...|   HPL|
|id22965|A youth passed in solitude, my best years spent...|   MWS|
|id09674|The astronomer, perhaps, at this point, took re...|   EAP|
|id13515|       The surcingle hung in ribands from my body.|   EAP|
|id19322|I knew that you could not say to yourself 'ster...|   EAP|
|id00912|I confess that neither the structure of languag...|   MWS|
+-------+--------------------------------------------------+------+
only showing top 10 rows

+------+
|author|
+------+
|   MWS|
|   HPL|
|   EAP|
+------+

'\nStep.1 replace "text" in Tokenizer(inputCol="text", outputCol="tokens")\nwith the actual column name from your CSV file that contains the text data.\n'

### => `FEATURE EXTRACTION`

In [57]:
# Step 3: TF-IDF calculation
vectorizer = CountVectorizer(inputCol="filtered_tokens", outputCol="vectorized_tokens", vocabSize=500)
idf = IDF(inputCol="vectorized_tokens", outputCol="tfidf")
# Step 4: Normalization
normalizer = Normalizer(inputCol="tfidf", outputCol="normalized_features")
# Step 5: Create pipeline for chaining the text mining transformers
pipeline = Pipeline(stages=[tokenizer, stopwords_remover, vectorizer, idf, normalizer])
# Step 6: Apply the pipeline to DataFrame
processed_data = pipeline.fit(train_df).transform(train_df)

processed_data.show(5, truncate=45)

+-------+---------------------------------------------+------+---------------------------------------------+---------------------------------------------+---------------------------------------------+---------------------------------------------+---------------------------------------------+
|     id|                                         text|author|                                       tokens|                              filtered_tokens|                            vectorized_tokens|                                        tfidf|                          normalized_features|
+-------+---------------------------------------------+------+---------------------------------------------+---------------------------------------------+---------------------------------------------+---------------------------------------------+---------------------------------------------+
|id26305|This process, however, afforded me no mean...|   EAP|[this, process,, however,, afforded, me, n...|[process,, however,, afforded, means, asce...|(500,[4,10,32,48,59,159,164,188,227],[1.0,...|(500,[4,10,32,48,59,159,164,188,227],[3.54...|(500,[4,10,32,48,59,159,164,188,227],[0.26...|
|id17569|It never once occurred to me that the fumb...|   HPL|[it, never, once, occurred, to, me, that, ...|[never, occurred, fumbling, might, mere, m...|                (500,[4,9,240],[1.0,1.0,1.0])|(500,[4,9,240],[3.5436698378813185,3.63809...|(500,[4,9,240],[0.49219826137378775,0.5053...|
|id11008|In his left hand was a gold snuff box, fro...|   EAP|[in, his, left, hand, was, a, gold, snuff,...|[left, hand, gold, snuff, box,, which,, ca...|(500,[47,89,139,141,152,252,292,324],[1.0,...|(500,[47,89,139,141,152,252,292,324],[4.21...|(500,[47,89,139,141,152,252,292,324],[0.30...|
|id27763|How lovely is spring As we looked from Win...|   MWS|[how, lovely, is, spring, as, we, looked, ...|[lovely, spring, looked, windsor, terrace,...|(500,[87,90,438,442,451],[1.0,2.0,1.0,1.0,...|(500,[87,90,438,442,451],[4.44854191253026...|(500,[87,90,438,442,451],[0.31923658797503...|
|id12958|Finding nothing else, not even gold, the S...|   HPL|[finding, nothing, else,, not, even, gold,...|[finding, nothing, else,, even, gold,, sup...|       (500,[2,70,156,411],[1.0,1.0,1.0,1.0])|(500,[2,70,156,411],[3.3734947791128196,4....|(500,[2,70,156,411],[0.36775292159986644,0...|
+-------+---------------------------------------------+------+---------------------------------------------+---------------------------------------------+---------------------------------------------+---------------------------------------------+---------------------------------------------+
only showing top 5 rows

'\nstep.4 The processed_data object will contain the final processed features in the\n"normalized_features" column. use for machine learning tasks.\nStep.6 replace your_dataframe with the name of your DataFrame that holds the CSV data.\n'

### => user-defined lemmatize function

In [58]:
# Tokenize sentence (lemmatize words, remove stop words and punctuations, strip off html and digits)
# Returns a struct of tokens, tokens count, punctuation count

import string
import unicodedata
import re
import nltk
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer

import pyspark.sql.functions as F
from pyspark.sql.types import StructField, StructType, ArrayType, IntegerType, StringType

wnl = WordNetLemmatizer()
stopwords_set = set(stopwords.words('english'))
list_punct = set(string.punctuation)
url_pattern = re.compile(r'https?.+|[^(a-zA-Z)(0-9)\s]')
number_pattern = re.compile(r'\d+')

def lemmatize(text):
    """
    param: sentence
    return: tokens, tokens count, punctuation count
    """
    punctuation_table = str.maketrans('', '', string.punctuation)
    
    punct_count = text.translate(punctuation_table).count('')
    
    text = (unicodedata.normalize('NFKD', text)
            .encode('ascii', 'ignore')
            .decode('utf-8', 'ignore')
            .lower())
    
    # remove urls
    text = url_pattern.sub(' ', text)
    # remove numbers
    text = number_pattern.sub(' ', text)
    
    words = text.split()
    # remove stopwords and strings of length <= 2
    words = [wnl.lemmatize(word) for word in words if word not in stopwords_set and len(word) > 2]
    word_count = len(words)
    
    return words, word_count, punct_count


# Register lemmatizer as an UDF
lemma_schema = StructType([
    StructField("words", ArrayType(StringType()), False),
    StructField("word_count", IntegerType(), False),
    StructField("punct_count", IntegerType(), False)
])

udf_lemmatize = F.udf(lemmatize, lemma_schema)

In [59]:
# Use the UDF to extract the tokens and count features
lemma_train_df = (train_df
 .withColumn('lemmatize', udf_lemmatize('text'))
)

lemma_train_df.cache()

lemma_train_df = lemma_train_df.select(F.col("text"),
                    F.col("author"), 
                    F.col("lemmatize.words").alias("words"),
                    F.col("lemmatize.word_count").alias("word_count"),
                    F.col("lemmatize.punct_count").alias("punct_count")
                   ).cache()

lemma_train_df.show(5, truncate=30)

+------------------------------+------+------------------------------+----------+-----------+
|                          text|author|                         words|word_count|punct_count|
+------------------------------+------+------------------------------+----------+-----------+
|This process, however, affo...|   EAP|[process, however, afforded...|        21|        225|
|It never once occurred to m...|   HPL|[never, occurred, fumbling,...|         6|         71|
|In his left hand was a gold...|   EAP|[left, hand, gold, snuff, b...|        19|        196|
|How lovely is spring As we ...|   MWS|[lovely, spring, looked, wi...|        21|        203|
|Finding nothing else, not e...|   HPL|[finding, nothing, else, ev...|        16|        171|
+------------------------------+------+------------------------------+----------+-----------+
only showing top 5 rows

23/07/13 11:56:35 WARN CacheManager: Asked to cache already cached data.
23/07/13 11:56:35 WARN CacheManager: Asked to cache already cached data.

### => `Convert BoW to Word2Vec Vector`

BoW is a simpler technique that represents each word as a vector in a high-dimensional space, where each dimension corresponds to a unique word in the corpus vocabulary. The value at each dimension reflects the count or frequency of the corresponding word in a specific document.

Word2Vec, on the other hand, uses neural networks to learn word associations from a large corpus of text. Word2Vec provides word embeddings that capture a large number of precise syntactic and semantic word relationships

In [60]:
from pyspark.ml.feature import Word2Vec

word2Vec = Word2Vec(vectorSize=100, 
                    minCount=1, 
                    inputCol="words", 
                    outputCol="w2v_features",
                    maxIter=20,
                    seed=rnd_seed)

w2vec_model = word2Vec.fit(lemma_train_df)

w2v_train_df = w2vec_model.transform(lemma_train_df)

w2v_train_df.cache()

w2v_train_df.show(truncate=25)

+-------------------------+------+-------------------------+----------+-----------+-------------------------+
|                     text|author|                    words|word_count|punct_count|             w2v_features|
+-------------------------+------+-------------------------+----------+-----------+-------------------------+
|This process, however,...|   EAP|[process, however, aff...|        21|        225|[-0.04504347521634329,...|
|It never once occurred...|   HPL|[never, occurred, fumb...|         6|         71|[-0.022045572909216084...|
|In his left hand was a...|   EAP|[left, hand, gold, snu...|        19|        196|[0.12078562192618847,-...|
|How lovely is spring A...|   MWS|[lovely, spring, looke...|        21|        203|[-0.18042237772828057,...|
|Finding nothing else, ...|   HPL|[finding, nothing, els...|        16|        171|[0.15764092560857534,0...|
|A youth passed in soli...|   MWS|[youth, passed, solitu...|        40|        463|[-0.03963794133160264,...|
|The astronomer, perhap...|   EAP|[astronomer, perhaps, ...|        12|        124|[0.32053258130326867,-...|
|The surcingle hung in ...|   EAP|[surcingle, hung, riba...|         4|         43|[-0.07452661916613579,...|
|I knew that you could ...|   EAP|[knew, could, say, ste...|        42|        478|[0.017361111606338193,...|
|I confess that neither...|   MWS|[confess, neither, str...|        11|        142|[0.23338125070387666,-...|
|He shall find that I c...|   MWS|[shall, find, feel, in...|        10|        105|[5.860992707312108E-4,...|
|Here we barricaded our...|   EAP|[barricaded, present, ...|         3|         61|[0.01801535238822301,0...|
|Herbert West needed fr...|   HPL|[herbert, west, needed...|         9|         87|[-0.3025910688771142,0...|
|The farm like grounds ...|   HPL|[farm, like, ground, e...|        10|         85|[-0.20392380468547344,...|
|But a glance will show...|   EAP|[glance, show, fallacy...|         4|         48|[0.3541884124279022,-0...|
|He had escaped me, and...|   MWS|[escaped, must, commen...|        24|        257|[-0.22479043487692252,...|
|To these speeches they...|   EAP|[speech, gave, course,...|        27|        331|[0.1332596181131925,-0...|
|Her native sprightline...|   MWS|[native, sprightliness...|        15|        170|[-0.17673809699869403,...|
|I even went so far as ...|   EAP|[even, went, far, spea...|        23|        264|[-0.03790999944929195,...|
|His facial aspect, too...|   HPL|[facial, aspect, remar...|        28|        297|[-0.029639681867722954...|
+-------------------------+------+-------------------------+----------+-----------+-------------------------+
only showing top 20 rows

### => `Append count features to Word2Vec features with VectorAssembler`

Transform and combine a list of specified columns from a DataFrame into a single vector column. This is a common preprocessing step required for many machine learning algorithms on Spark, which often require data to be formatted into a single feature vector

In [61]:
from pyspark.ml.feature import VectorAssembler

feature_cols = ["w2v_features", "word_count", "punct_count"]

# put features into a feature vector column
vector_assembler = VectorAssembler(inputCols=feature_cols, outputCol="features")

assembled_train_df = vector_assembler.transform(w2v_train_df)

assembled_train_df.cache()

assembled_train_df.select('author', 'features').show(5, truncate=75)

# check the original individual feature columns
print(assembled_train_df.select('w2v_features', 'word_count', 'punct_count').take(1))
print()
# make sure the original individual feature columns are assembled in the correct order
print(assembled_train_df.select('features').take(1))
print()

+------+---------------------------------------------------------------------------+
|author|                                                                   features|
+------+---------------------------------------------------------------------------+
|   EAP|[-0.04504347521634329,-0.22177825301020804,0.07188885051956666,-0.034261...|
|   HPL|[-0.022045572909216084,-0.055779277676871665,-0.07163621050616105,0.1384...|
|   EAP|[0.12078562192618847,-0.07928438121943097,-0.012853829680304777,-0.12579...|
|   MWS|[-0.18042237772828057,-0.08317899735023578,0.012952304418875082,0.172434...|
|   HPL|[0.15764092560857534,0.121783307637088,0.07108729949686676,0.08440010504...|
+------+---------------------------------------------------------------------------+
only showing top 5 rows

[Row(w2v_features=DenseVector([-0.045, -0.2218, 0.0719, -0.0343, -0.0214, -0.0365, 0.0321, -0.0047, -0.0503, 0.0149, -0.1625, -0.1104, 0.0544, 0.0497, -0.1745, -0.0659, 0.039, 0.0585, -0.1463, 0.0686, 0.1095, 0.0233, 0.0764, -0.1426, 0.0809, -0.074, 0.078, 0.1559, 0.0668, -0.0156, -0.0515, -0.0049, 0.1633, -0.0325, 0.1254, -0.1521, 0.2739, 0.0413, -0.0817, 0.2542, -0.1648, -0.1666, 0.0198, 0.0169, -0.0277, 0.1556, 0.0069, -0.033, 0.0144, -0.2146, 0.19, -0.0214, -0.1063, 0.0136, 0.1488, 0.2785, -0.0031, -0.0991, -0.0719, -0.1342, 0.1378, 0.1268, -0.0797, 0.1684, 0.0056, -0.1045, -0.2214, -0.1579, -0.0635, 0.098, -0.0678, 0.0293, -0.0832, 0.3186, -0.199, 0.0561, 0.0552, 0.0403, -0.1986, -0.089, -0.0806, -0.1073, 0.0579, 0.1781, -0.116, -0.1008, 0.1563, 0.0336, 0.002, 0.0054, -0.0839, -0.2115, 0.135, -0.0872, 0.0348, -0.1033, 0.0359, -0.0884, 0.2, 0.1236]), word_count=21, punct_count=225)]

[Row(features=DenseVector([-0.045, -0.2218, 0.0719, -0.0343, -0.0214, -0.0365, 0.0321, -0.0047, -0.0503, 0.0149, -0.1625, -0.1104, 0.0544, 0.0497, -0.1745, -0.0659, 0.039, 0.0585, -0.1463, 0.0686, 0.1095, 0.0233, 0.0764, -0.1426, 0.0809, -0.074, 0.078, 0.1559, 0.0668, -0.0156, -0.0515, -0.0049, 0.1633, -0.0325, 0.1254, -0.1521, 0.2739, 0.0413, -0.0817, 0.2542, -0.1648, -0.1666, 0.0198, 0.0169, -0.0277, 0.1556, 0.0069, -0.033, 0.0144, -0.2146, 0.19, -0.0214, -0.1063, 0.0136, 0.1488, 0.2785, -0.0031, -0.0991, -0.0719, -0.1342, 0.1378, 0.1268, -0.0797, 0.1684, 0.0056, -0.1045, -0.2214, -0.1579, -0.0635, 0.098, -0.0678, 0.0293, -0.0832, 0.3186, -0.199, 0.0561, 0.0552, 0.0403, -0.1986, -0.089, -0.0806, -0.1073, 0.0579, 0.1781, -0.116, -0.1008, 0.1563, 0.0336, 0.002, 0.0054, -0.0839, -0.2115, 0.135, -0.0872, 0.0348, -0.1033, 0.0359, -0.0884, 0.2, 0.1236, 21.0, 225.0]))]

### => `Transform Author attribute into MultiClass Labels with StringIndexer`

StringIndexer encodes a string column of labels to a column of label indices. The indices are in [0, numLabels], ordered by label frequencies, so the most frequent label gets index 0.
In our case, the author column (Category) will be encoded to label indices, from 0 to 2; the most frequent label (EAP) will be indexed as 0.

In [62]:
from pyspark.ml.feature import StringIndexer

label_indexer = StringIndexer(inputCol = "author", outputCol = "label")

label_indexer_model = label_indexer.fit(assembled_train_df)

labeled_train_df = label_indexer_model.transform(assembled_train_df)

labeled_train_df.cache()

labeled_train_df.select('text', 'author', 'features', 'label').show(10, truncate=50)

+--------------------------------------------------+------+--------------------------------------------------+-----+
|                                              text|author|                                          features|label|
+--------------------------------------------------+------+--------------------------------------------------+-----+
|This process, however, afforded me no means of ...|   EAP|[-0.04504347521634329,-0.22177825301020804,0.07...|  0.0|
|It never once occurred to me that the fumbling ...|   HPL|[-0.022045572909216084,-0.055779277676871665,-0...|  2.0|
|In his left hand was a gold snuff box, from whi...|   EAP|[0.12078562192618847,-0.07928438121943097,-0.01...|  0.0|
|How lovely is spring As we looked from Windsor ...|   MWS|[-0.18042237772828057,-0.08317899735023578,0.01...|  1.0|
|Finding nothing else, not even gold, the Superi...|   HPL|[0.15764092560857534,0.121783307637088,0.071087...|  2.0|
|A youth passed in solitude, my best years spent...|   MWS|[-0.03963794133160264,0.1993306930675317,-0.039...|  1.0|
|The astronomer, perhaps, at this point, took re...|   EAP|[0.32053258130326867,-0.16539935627952218,-0.15...|  0.0|
|       The surcingle hung in ribands from my body.|   EAP|[-0.07452661916613579,0.09562054090201855,0.247...|  0.0|
|I knew that you could not say to yourself 'ster...|   EAP|[0.017361111606338193,-0.08342939473333813,-7.1...|  0.0|
|I confess that neither the structure of languag...|   MWS|[0.23338125070387666,-0.004681152122264559,-0.2...|  1.0|
+--------------------------------------------------+------+--------------------------------------------------+-----+
only showing top 10 rows

## => `Train & Validation Split`

### => `Stratified Sampling with randomSplit`
randomSplit may not always give a perfect stratification as using sampleBy, but it is a better fit for larger datasets

In [63]:
#Stratified Sampling

# The fractions in randomSplit represent the proportion of data to go into each dataset.
labeled_train_df, labeled_validation_df = labeled_train_df.randomSplit([0.75, 0.25], seed=rnd_seed)

# recompute and print the distribution in each DataFrame
train_count = labeled_train_df.count()
valid_count = labeled_validation_df.count()
total_count = train_count + valid_count

train_pctg = train_count / total_count
valid_pctg = valid_count / total_count                                 
print(f'Ratio train:valid={train_pctg}:{valid_pctg}')

# recheck distribution
(labeled_train_df
 .groupBy('label')
 .count()
 .withColumn('%age', F.round(F.col('count') / train_count, 2))
 .show())

(labeled_validation_df
 .groupBy('label')
 .count()
 .withColumn('%age', F.round(F.col('count') / valid_count, 2))
 .show())


'''

(labeled_train_df
 .groupBy('label')
 .count()
 .withColumn('%age', F.round(F.col('count') / labeled_train_df.count(), 2))
 .show())

# specify the exact fraction desired from each key as a dictionary
fractions = {0: 0.25, 1: 0.25, 2: 0.25}
# create the validation set with 25% of the entire data and same distribution of author labels
labeled_validation_df = labeled_train_df.stat.sampleBy('label', fractions, seed=rnd_seed).cache()
# subtract the validation set from the original training set to get 75% of the entire data 
# and same distribution of author labels
labeled_train_df = labeled_train_df.subtract(labeled_validation_df).cache()
labeled_train_df.cache()
labeled_validation_df.cache()

total_count = labeled_train_df.count() + labeled_validation_df.count()

train_pctg = labeled_train_df.count() / total_count
valid_pctg = labeled_validation_df.count() / total_count                                 
print(f'Ratio train:valid={train_pctg}:{valid_pctg}')

#recheck distribution
(labeled_train_df
 .groupBy('label')
 .count()
 .withColumn('%age', F.round(F.col('count') / labeled_train_df.count(), 2))
 .show())

'''

Ratio train:valid=0.7517748608202666:0.24822513917973338
+-----+-----+----+
|label|count|%age|
+-----+-----+----+
|  0.0| 5906| 0.4|
|  1.0| 4548|0.31|
|  2.0| 4265|0.29|
+-----+-----+----+

+-----+-----+----+
|label|count|%age|
+-----+-----+----+
|  0.0| 1994|0.41|
|  1.0| 1496|0.31|
|  2.0| 1370|0.28|
+-----+-----+----+

"\n\n(labeled_train_df\n .groupBy('label')\n .count()\n .withColumn('%age', F.round(F.col('count') / labeled_train_df.count(), 2))\n .show())\n\n# specify the exact fraction desired from each key as a dictionary\nfractions = {0: 0.25, 1: 0.25, 2: 0.25}\n# create the validation set with 25% of the entire data and same distribution of author labels\nlabeled_validation_df = labeled_train_df.stat.sampleBy('label', fractions, seed=rnd_seed).cache()\n# subtract the validation set from the original training set to get 75% of the entire data \n# and same distribution of author labels\nlabeled_train_df = labeled_train_df.subtract(labeled_validation_df).cache()\nlabeled_train_df.cache()\nlabeled_validation_df.cache()\n\ntotal_count = labeled_train_df.count() + labeled_validation_df.count()\n\ntrain_pctg = labeled_train_df.count() / total_count\nvalid_pctg = labeled_validation_df.count() / total_count                                 \nprint(f'Ratio train:valid={train_pctg}:{valid_pctg}')\n\n#recheck distribution\n(labeled_train_df\n .groupBy('label')\n .count()\n .withColumn('%age', F.round(F.col('count') / labeled_train_df.count(), 2))\n .show())\n\n"

### => `Train Logistic Regression`

In [64]:
from pyspark.ml.classification import LogisticRegression

lr = LogisticRegression(featuresCol='features', 
                        labelCol='label', 
                        predictionCol='prediction',
                        probabilityCol='probability',
                        maxIter=20, 
                        regParam=0.3, 
                        elasticNetParam=0)

lrModel = lr.fit(labeled_train_df)

train_preds_labels = lrModel.transform(labeled_train_df)
validation_preds_labels = lrModel.transform(labeled_validation_df)

train_preds_labels.cache()
validation_preds_labels.cache()

train_preds_labels.select('text', 'author', 'features', 'label', 'probability', 'prediction').show(50)

+--------------------+------+--------------------+-----+--------------------+----------+
|                text|author|            features|label|         probability|prediction|
+--------------------+------+--------------------+-----+--------------------+----------+
|" Odenheimer, res...|   EAP|[0.01016970165073...|  0.0|[0.55332933137401...|       0.0|
|"'But,' says L'Et...|   EAP|[0.01173311382132...|  0.0|[0.69874174985508...|       0.0|
|"'Excellent man I...|   MWS|[0.43706783900658...|  1.0|[0.53730077941483...|       0.0|
|"'Heaven forbid E...|   MWS|[0.10945655529697...|  1.0|[0.20406489925011...|       1.0|
|"'How can I thank...|   MWS|[0.34089323746350...|  1.0|[0.23486886884413...|       1.0|
|"'They are kind t...|   MWS|[0.35700334608554...|  1.0|[0.35715926232373...|       1.0|
|"A considerable p...|   MWS|[0.02229289178337...|  1.0|[0.40276271338866...|       1.0|
|"A death's head" ...|   EAP|[0.11090118471871...|  0.0|[0.78785829808840...|       0.0|
|"A few days after...|   MWS|[-0.0482671707092...|  1.0|[0.27671734319275...|       1.0|
|"A friend," repli...|   MWS|[0.28941325563937...|  1.0|[0.15206411997596...|       1.0|
|"A madman," I sai...|   EAP|[0.14510231688618...|  0.0|[0.65361563455425...|       0.0|
|"A skull, you say...|   EAP|[0.28977217897772...|  0.0|[0.90736244981575...|       0.0|
|"A thousand pound...|   EAP|[0.34731432609260...|  0.0|[0.90517621060083...|       0.0|
|"A thousand pound...|   EAP|[0.21459608225394...|  0.0|[0.83455669902992...|       0.0|
|"A thousand pound...|   EAP|[0.06668052449822...|  0.0|[0.85588366306248...|       0.0|
|"Abhorred monster...|   MWS|[0.12138878046111...|  1.0|[0.05181497983427...|       1.0|
|"About a foot bel...|   EAP|[-0.0022093175965...|  0.0|[0.83373174458453...|       0.0|
|"Adolphe Le Bon, ...|   EAP|[0.10206889969241...|  0.0|[0.92252982647337...|       0.0|
|"Adrian, I am abo...|   MWS|[-0.0805779861818...|  1.0|[0.01569129744289...|       1.0|
|"After a thorough...|   EAP|[0.07123045490256...|  0.0|[0.64212876209880...|       0.0|
|"After some weeks...|   MWS|[-0.0821140632033...|  1.0|[0.12111009545956...|       1.0|
|"After the murder...|   MWS|[-0.1031370120389...|  1.0|[0.05305853468940...|       1.0|
|"Ah, hereupon tur...|   EAP|[0.18893490054390...|  0.0|[0.83500598908878...|       0.0|
|"Alas Alas What a...|   MWS|[0.04153057498236...|  1.0|[0.02754538449177...|       1.0|
|"Alas, for us," I...|   MWS|[0.04242983288131...|  1.0|[0.09684034175901...|       1.0|
|"Alberto Montani,...|   EAP|[0.16607210692018...|  0.0|[0.62624383121664...|       0.0|
|"Alexandre Etienn...|   EAP|[0.08794762806168...|  0.0|[0.81284908673044...|       0.0|
|"Alfonzo Garcio, ...|   EAP|[-0.2765122375317...|  0.0|[0.54415334802242...|       0.0|
|"All dat done, Ma...|   EAP|[0.11235627800656...|  0.0|[0.67058398054244...|       0.0|
|"All in Teloth mu...|   HPL|[0.04855906714995...|  2.0|[0.18063197947183...|       1.0|
|"All things go on...|   MWS|[0.03834882378578...|  1.0|[0.15348031324171...|       1.0|
|"All this," I sai...|   EAP|[0.15798885200638...|  0.0|[0.90743838313107...|       0.0|
|"Amontillado" "As...|   EAP|[0.26385237276554...|  0.0|[0.72079723678520...|       0.0|
|"An outrage of th...|   EAP|[0.01666468637995...|  0.0|[0.69963480531423...|       0.0|
|"And can you tell...|   EAP|[0.20565336383879...|  0.0|[0.82474601605201...|       0.0|
|"And do you also ...|   MWS|[0.12720940882960...|  1.0|[0.26339981489767...|       1.0|
|"And do you dream...|   MWS|[0.23273317329585...|  1.0|[0.04493196837158...|       2.0|
|"And here we must...|   EAP|[0.09943661507632...|  0.0|[0.86505622309159...|       0.0|
|"And how long, th...|   EAP|[0.12262739768872...|  0.0|[0.73538336123312...|       0.0|
|"And my brother?"...|   MWS|[0.30757775343954...|  1.0|[0.25125097235567...|       1.0|
|"And now I do not...|   MWS|[-0.0506276334635...|  1.0|[0.06654005122512...|       1.0|
|"And now a new ob...|   EAP|[0.01326073408126...|  0.0|[0.48120039798396...|       0.0|
|"And now what are...|   EAP|[-0.0114433830603...|  0.0|[0.75573120551979...|       0.0|
|"And now, mon ami...|   EAP|[0.34829152660864...|  0.0|[0.57979866093726...|       0.0|
|"And the man sat ...|   EAP|[0.14037167890505...|  0.0|[0.60402287297120...|       0.0|
|"And the motto?" ...|   EAP|[-0.0232287365943...|  0.0|[0.59056029335661...|       0.0|
|"And the new syst...|   EAP|[0.30545582249760...|  0.0|[0.71559838572899...|       0.0|
|"And the numerous...|   EAP|[0.18077613716013...|  0.0|[0.56152163911502...|       0.0|
|"And then, perhap...|   EAP|[0.11413832726733...|  0.0|[0.76199687388334...|       0.0|
|"And then," said ...|   EAP|[0.20738949713607...|  0.0|[0.70889516078494...|       0.0|
+--------------------+------+--------------------+-----+--------------------+----------+
only showing top 50 rows

## => `Training & Validation Accuracy`

In [65]:

from pyspark.ml.evaluation import MulticlassClassificationEvaluator

evaluator = MulticlassClassificationEvaluator(predictionCol='prediction', labelCol='label', metricName='f1')
train_f1_score = evaluator.evaluate(train_preds_labels)
validation_f1_score = evaluator.evaluate(validation_preds_labels)

print(f'Training F1 Score   :{train_f1_score}')
print(f'Validation F1 Score :{validation_f1_score}')

train_summary = lrModel.evaluate(labeled_train_df)
validation_summary = lrModel.evaluate(labeled_validation_df)


print(f'Training Accuracy   :{train_summary.accuracy}')
print(f'Validation Accuracy :{validation_summary.accuracy}')


# F1 score by label
train_summary.fMeasureByLabel(beta=1.0), validation_summary.fMeasureByLabel(beta=1.0)

# Precision by label
train_summary.precisionByLabel, validation_summary.precisionByLabel

# Recall by label
train_summary.recallByLabel, validation_summary.recallByLabel

Training F1 Score   :0.764780618882283
Validation F1 Score :0.7706831769016816
Training Accuracy   :0.7647938039268972
Validation Accuracy :0.7707818930041153

([0.7941076870978666, 0.7537379067722075, 0.7359906213364595],
 [0.8014042126379137, 0.7540106951871658, 0.7445255474452555])

## => `Test Predictions`

In [66]:
from pyspark.ml.functions import vector_to_array


test_df = spark.read.csv('test.csv', sep=',', escape='"', header=True)
test_df.cache()

# Use the UDF to extract the tokens and count features
lemma_test_df = (test_df
 .withColumn('lemmatize', udf_lemmatize('text'))
)

lemma_test_df.cache()

lemma_test_df = lemma_test_df.select(F.col("id"),
                    F.col("text"),
                    F.col("lemmatize.words").alias("words"),
                    F.col("lemmatize.word_count").alias("word_count"),
                    F.col("lemmatize.punct_count").alias("punct_count")
                   ).cache()
w2v_test_df = w2vec_model.transform(lemma_test_df)
w2v_test_df.cache()

w2v_test_df.show(truncate=25)

assembled_test_df = vector_assembler.transform(w2v_test_df)
assembled_test_df.cache()

test_preds = lrModel.transform(assembled_test_df)
test_preds.cache()

test_preds.select('id', 'text', 'features', 'probability', 
                  F.col('prediction').cast('integer').alias('prediction')).show(10)

23/07/13 11:58:56 WARN CacheManager: Asked to cache already cached data.
23/07/13 11:58:56 WARN CacheManager: Asked to cache already cached data.
23/07/13 11:58:56 WARN CacheManager: Asked to cache already cached data.

+-------+-------------------------+-------------------------+----------+-----------+-------------------------+
|     id|                     text|                    words|word_count|punct_count|             w2v_features|
+-------+-------------------------+-------------------------+----------+-----------+-------------------------+
|id02310|Still, as I urged our ...|[still, urged, leaving...|        10|        108|[-0.08468285130802543,...|
|id24541|If a fire wanted fanni...|[fire, wanted, fanning...|        28|        324|[0.032250970984543006,...|
|id00134|And when they had brok...|[broken, frail, door, ...|        17|        187|[0.07540232159526032,-...|
|id27757|While I was thinking h...|[thinking, possibly, m...|        20|        219|[0.00533018559217453,-...|
|id04081|I am not sure to what ...|[sure, limit, knowledg...|         5|         53|[0.08088463377207518,-...|
|id27337|"The thick and peculia...|[thick, peculiar, mist...|        17|        195|[0.13549282774329185,0...|
|id24265|That which is not matt...|[matter, unless, quali...|         4|         67|[0.34294747561216354,0...|
|id25917|I sought for repose al...|[sought, repose, altho...|        12|        153|[0.02436212593844781,-...|
|id04951|Upon the fourth day of...|[upon, fourth, day, as...|        14|        168|[-0.045555611240810576...|
|id14549|"The tone metaphysical...|[tone, metaphysical, a...|         5|         41|[0.2684678785502911,0....|
|id22505|These, the offspring o...|[offspring, later, per...|        24|        251|[-0.04495177402471502,...|
|id24002|What kept him from goi...|[kept, going, brown, j...|        21|        259|[0.0549074432679585,0....|
|id18982|Persuading the widow t...|[persuading, widow, co...|        16|        187|[-0.002297623082995414...|
|id15181|When I arose trembling...|[arose, trembling, kno...|        14|        147|[-0.08587815971778971,...|
|id21888|And by the shores of t...|[shore, river, zaire, ...|         6|         72|[-0.11682584136724472,...|
|id12035|Idris heard of her mot...|[idris, heard, mother,...|         5|         48|[0.1077849417924881,-0...|
|id17991|I say this proudly, bu...|[say, proudly, tear, e...|         8|         99|[0.045750933699309826,...|
|id10707|But let us glance at t...|[let, glance, treatise...|        14|        160|[0.26767787202594,0.04...|
|id07101|"What a place is this ...|[place, inhabit, son, ...|        11|        130|[0.14503362131389705,0...|
|id00345|At his nod I took one ...|[nod, took, one, latte...|        13|        128|[0.05497743791112533,-...|
+-------+-------------------------+-------------------------+----------+-----------+-------------------------+
only showing top 20 rows

+-------+--------------------+--------------------+--------------------+----------+
|     id|                text|            features|         probability|prediction|
+-------+--------------------+--------------------+--------------------+----------+
|id02310|Still, as I urged...|[-0.0846828513080...|[0.17227477585331...|         1|
|id24541|If a fire wanted ...|[0.03225097098454...|[0.47584078816432...|         0|
|id00134|And when they had...|[0.07540232159526...|[0.51718163434267...|         0|
|id27757|While I was think...|[0.00533018559217...|[0.39438913371620...|         2|
|id04081|I am not sure to ...|[0.08088463377207...|[0.83145845015370...|         0|
|id27337|"The thick and pe...|[0.13549282774329...|[0.41786481270991...|         2|
|id24265|That which is not...|[0.34294747561216...|[0.48872744201990...|         0|
|id25917|I sought for repo...|[0.02436212593844...|[0.16193972552752...|         1|
|id04951|Upon the fourth d...|[-0.0455556112408...|[0.73126790199237...|         0|
|id14549|"The tone metaphy...|[0.26846787855029...|[0.44646127151485...|         0|
+-------+--------------------+--------------------+--------------------+----------+
only showing top 10 rows

### => `Show probabilty by Author with Test Data`

In [67]:

test_preds_by_author_df = (test_preds
    .withColumn("probas", vector_to_array("probability"))
    .select(F.col('id'),
            F.col('probas')[0].alias('EAP'), 
            F.col('probas')[1].alias('MWS'), 
            F.col('probas')[2].alias('HPL'))
    ).cache()


test_preds_by_author_df.show(5, truncate=False)

+-------+-------------------+-------------------+-------------------+
|id     |EAP                |MWS                |HPL                |
+-------+-------------------+-------------------+-------------------+
|id02310|0.17227477585331627|0.7416188373929196 |0.08610638675376436|
|id24541|0.4758407881643216 |0.22428933408563767|0.29986987775004076|
|id00134|0.517181634342671  |0.12632207649333665|0.3564962891639923 |
|id27757|0.3943891337162043 |0.06612268227934405|0.5394881840044516 |
|id04081|0.831458450153707  |0.10452386214586175|0.06401768770043126|
+-------+-------------------+-------------------+-------------------+
only showing top 5 rows

### => `Show Good(green) and Bad(red) Predictions on Train and Test data`

In [68]:
from pyspark.sql.functions import udf
from pyspark.sql.types import StringType
import pandas as pd

author_map = {0: 'EAP', 1: 'MWS', 2: 'HLP'} 

# Define a UDF to map the label id back to author's name
def map_to_author(label_id):
    return author_map[label_id]

map_to_author_udf = udf(map_to_author, StringType())

# Apply the UDF to the 'prediction' column in train_preds_labels and test_preds
train_preds_labels = train_preds_labels.withColumn('predicted_author', map_to_author_udf('prediction'))
test_preds = test_preds.withColumn('predicted_author', map_to_author_udf('prediction'))

# Show the 'text', 'author', 'predicted_author' etc. to compare the predictions
train_preds_labels.select('text', 'author', 'features', 'label', 'probability', 'prediction', 'predicted_author').show(10)
test_preds.select('id', 'text', 'features', 'probability', 'prediction', 'predicted_author').show(10)


# Convert PySpark DataFrame to Pandas DataFrame
train_preds_labels_pd = train_preds_labels.select('text', 'author', 'label', 'prediction', 'predicted_author').toPandas()

# Function to color the mismatch in 'red', else 'black'
def color_mismatch(data):
    color = 'red' if data['author'] != data['predicted_author'] else 'green'
    return ['color: %s' % color]*len(data.values)

train_preds_labels_pd.head(100).style.apply(color_mismatch, axis=1)

+--------------------+------+--------------------+-----+--------------------+----------+----------------+
|                text|author|            features|label|         probability|prediction|predicted_author|
+--------------------+------+--------------------+-----+--------------------+----------+----------------+
|" Odenheimer, res...|   EAP|[0.01016970165073...|  0.0|[0.55332933137401...|       0.0|             EAP|
|"'But,' says L'Et...|   EAP|[0.01173311382132...|  0.0|[0.69874174985508...|       0.0|             EAP|
|"'Excellent man I...|   MWS|[0.43706783900658...|  1.0|[0.53730077941483...|       0.0|             EAP|
|"'Heaven forbid E...|   MWS|[0.10945655529697...|  1.0|[0.20406489925011...|       1.0|             MWS|
|"'How can I thank...|   MWS|[0.34089323746350...|  1.0|[0.23486886884413...|       1.0|             MWS|
|"'They are kind t...|   MWS|[0.35700334608554...|  1.0|[0.35715926232373...|       1.0|             MWS|
|"A considerable p...|   MWS|[0.02229289178337...|  1.0|[0.40276271338866...|       1.0|             MWS|
|"A death's head" ...|   EAP|[0.11090118471871...|  0.0|[0.78785829808840...|       0.0|             EAP|
|"A few days after...|   MWS|[-0.0482671707092...|  1.0|[0.27671734319275...|       1.0|             MWS|
|"A friend," repli...|   MWS|[0.28941325563937...|  1.0|[0.15206411997596...|       1.0|             MWS|
+--------------------+------+--------------------+-----+--------------------+----------+----------------+
only showing top 10 rows

+-------+--------------------+--------------------+--------------------+----------+----------------+
|     id|                text|            features|         probability|prediction|predicted_author|
+-------+--------------------+--------------------+--------------------+----------+----------------+
|id02310|Still, as I urged...|[-0.0846828513080...|[0.17227477585331...|       1.0|             MWS|
|id24541|If a fire wanted ...|[0.03225097098454...|[0.47584078816432...|       0.0|             EAP|
|id00134|And when they had...|[0.07540232159526...|[0.51718163434267...|       0.0|             EAP|
|id27757|While I was think...|[0.00533018559217...|[0.39438913371620...|       2.0|             HLP|
|id04081|I am not sure to ...|[0.08088463377207...|[0.83145845015370...|       0.0|             EAP|
|id27337|"The thick and pe...|[0.13549282774329...|[0.41786481270991...|       2.0|             HLP|
|id24265|That which is not...|[0.34294747561216...|[0.48872744201990...|       0.0|             EAP|
|id25917|I sought for repo...|[0.02436212593844...|[0.16193972552752...|       1.0|             MWS|
|id04951|Upon the fourth d...|[-0.0455556112408...|[0.73126790199237...|       0.0|             EAP|
|id14549|"The tone metaphy...|[0.26846787855029...|[0.44646127151485...|       0.0|             EAP|
+-------+--------------------+--------------------+--------------------+----------+----------------+
only showing top 10 rows

/Users/giuseppe.schintu/anaconda3/lib/python3.10/site-packages/pyspark/sql/pandas/conversion.py:117: UserWarning: toPandas attempted Arrow optimization because 'spark.sql.execution.arrow.pyspark.enabled' is set to true; however, failed by the reason below:
  PyArrow >= 1.0.0 must be installed; however, it was not found.
Attempting non-optimization as 'spark.sql.execution.arrow.pyspark.fallback.enabled' is set to true.
  warn(msg)

In [ ]:
#spark.stop()